option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: us-east-1
    DYNAMODB_USERS_TABLE: Users
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.micro
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: basic
